
.container{
    height: 70vh;
    width: 400px;
    margin: 10vh auto;
    display: flex;
    align-items: center;    
    .content-form{
        padding: 30px;
        h3{
            text-align: center;
            margin-bottom: 20px;
        }
        form{
            .row-custom{
                width: 100%;
                margin-bottom: 10px;
                input{
                    width: 95%;
                    padding: 3px 2.5%;
                }
                select{
                    width: 100%;
                    padding: 3px 2.5%;
                }
                button{
                    color: #fff;
                    background-color: #3f51b5;
                    border-color: #3f51b5;
                    height: 30px;
                    padding: .375rem .75rem;
                    margin: 0 auto;
                    font-size: 14px;
                    border: 0;
                    border-radius: .25rem;  

                    &:hover{
                        cursor: pointer;
                    }
                }    
            }
            .row-btn{
                text-align: center;
            }
    
        }
        .message{
            width: 95%;
            margin: 1vh auto;
            padding: 5px 2.5%;
            color: #155724;
            background-color: #d4edda;       
        }
        .error-message{            
            color: #721c24;
            background-color: #f5c6cb;
        }
        .link{
            text-align: center;

            a{
                color: #3f51b5;
                text-decoration: none;
            }
        }
    }
    mat-error{
        font-size: 12px;
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
    .container{
        width: 90%;
    }
}