<div class="container">

    <mat-card class="content-form">

        <h3>Registrarse</h3>

        <form [formGroup]="formRegister" (ngSubmit)="register()">
    
            <mat-form-field class="row-custom">
                <input type="text" matInput formControlName="name" placeholder="Nombre" />
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <mat-error *ngIf="name.errors.required">
                        Nombre es requerido
                    </mat-error>
                </div>
            </mat-form-field>

            <mat-form-field class="row-custom">
                <input type="email" matInput formControlName="email" placeholder="Correo electrónico"/>
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <mat-error *ngIf="email.errors.required">
                        Correo electrónico es requerido
                    </mat-error>
                    <mat-error *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                        El valor debe ser una dirección de correo electrónico válida.
                    </mat-error>
                </div>
            </mat-form-field>

            <mat-form-field class="row-custom">
                <input type="password" matInput formControlName="password" placeholder="Contraseña" />
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <mat-error *ngIf="password.errors.required">
                        Contraseña es requerido
                    </mat-error>
                </div>
            </mat-form-field>

            <mat-form-field appearance="fill" class="row-custom">
                <mat-label>Selecciona un rol</mat-label>
                <mat-select formControlName="rol">
                    <mat-option *ngFor="let rol of listaRoles" [value]="rol.id">
                      {{rol.name}}
                    </mat-option>
                </mat-select>
                <div *ngIf="rol.invalid && (rol.dirty || rol.touched)">
                    <mat-error *ngIf="rol.errors.required">
                        Rol es requerido
                    </mat-error>
                </div>
            </mat-form-field>            

            <div class="row-custom row-btn">
                <button>Registarse</button>
            </div>
        </form>

        <div class="link">
            <a routerLink="/login">Login</a>
        </div>        

    </mat-card>

</div>