header{
    box-shadow: 0px 2px 2px rgba(0,0,0,0.08);
    padding: 10px 5%;
    background: white;
    .logo{
        height: 35px;
        width: auto;
        background-image: url('../../../assets/images/logo.png');
        background-size: contain;
        background-repeat: no-repeat;       
    }
    .text-right{
        text-align: right;
    }
    .icon{
        background: #eeeeee;
    }
}
