<header>
    <div class="row justify-content-between align-items-center">
        <div class="col-6">
            <a href="/">
                <div class="logo"></div>
            </a>
        </div>
        <div class="col-6 text-right">
            <button class="icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>reorder</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button *ngIf="isVisible" (click)="profile()" mat-menu-item>
                  <mat-icon>account_box</mat-icon>
                  <span>Perfil</span>
                </button>
                <button *ngIf="!isVisible" (click)="login()" mat-menu-item>
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Login</span>
                </button>         
                <button *ngIf="isVisible" (click)="logout()" mat-menu-item>
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Cerrar sesión</span>
                </button>                
              </mat-menu>
        </div>                  
    </div>  
</header>