table{
    width: 100%;
    .title{
        display: none;
        font-weight: 600;
        width: 50px;
        margin-right: 10px;
    }    
}

@media (max-width: 768px) {
    table{
        width: 100%;
        thead{
            display: none;
        }
            tr{
                display: flex;
                flex-direction: column;
                height: auto;
                &:nth-child(odd){
                    background-color: #eeeeee;
                }
                th{
                    display: none;
                }
                td{
                    width: 100%;
                    padding: 5px 10px;
                }            
            }
            .title{
                display: inline-block;
            }
    }   
}