.content-cards{
    width: 1200px;
    margin: 12.5vh auto;
    .content-form{
        width: 100%;
        margin: 0;
        form{
            .row-custom{
                width: 100%;
                margin-bottom: 10px;
                input{
                    width: 95%;
                    padding: 3px 2.5%;
                }
                select{
                    width: 100%;
                    padding: 3px 2.5%;
                }
                button{
                    color: #fff;
                    background-color: #3f51b5;
                    border-color: #3f51b5;
                    height: 30px;
                    padding: .375rem .75rem;
                    margin: 0 auto;
                    font-size: 14px;
                    border: 0;
                    border-radius: .25rem;  
    
                    &:hover{
                        cursor: pointer;
                    }
                }    
            }
            .row-btn{
                text-align: center;
            }
    
        }
        .character-tle{
            margin-bottom: 20px;
        }
        .message{
            width: 95%;
            margin: 1vh auto;
            padding: 5px 2.5%;
            color: #155724;
            background-color: #d4edda;       
        }
        .error-message{            
            color: #721c24;
            background-color: #f5c6cb;
        }  
        .warn-message{
            font-size: 14px;
            text-align: center;         
            color: #827442;
            background-color: #f5ebc6;
            padding: 5px 10px;
            margin-top: 10px;
        }           
    }
}

@media (max-width: 1224px) {
    .content-cards{
        width: 90%;
        padding: 5%;
    }
}

@media (max-width: 600px) {
    .content-cards{
        .content-form{
            form{
                margin-bottom: 35px;
            }
        }
    }    
}