<mat-card class="content-cards">
        <div class="row content-form">

        <div class="col-12 col-sm-12 col-lg-6">
            <h3>Datos de usuario</h3>
            <form [formGroup]="formProfile" (ngSubmit)="update()">
        
                <mat-form-field class="row-custom">
                    <input type="text" matInput formControlName="name" placeholder="Nombre" />
                    <div *ngIf="name.invalid && (name.dirty || name.touched)">
                        <mat-error *ngIf="name.errors.required">
                            Nombre es requerido
                        </mat-error>
                    </div>
                </mat-form-field>

                <mat-form-field class="row-custom">
                    <input type="email" matInput formControlName="email" placeholder="Correo electrónico"/>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <mat-error *ngIf="email.errors.required">
                            Correo electrónico es requerido
                        </mat-error>
                        <mat-error *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                            El valor debe ser una dirección de correo electrónico válida.
                        </mat-error>
                    </div>
                </mat-form-field>

                <mat-form-field class="row-custom">
                    <input type="password" matInput formControlName="password" placeholder="Contraseña" />
                    <div *ngIf="password.invalid && (password.dirty || password.touched)">
                        <mat-error *ngIf="password.errors.required">
                            Contraseña es requerido
                        </mat-error>
                    </div>
                    <div class="warn-message">Ingrese la contraseña si y solo si desea actualizarla.</div>
                </mat-form-field>

                <div class="row-custom row-btn">
                    <button>Actualizar</button>
                </div>
            </form>        
        </div>

        <div class="col-12 col-sm-12 col-lg-6">
            <h3 class="character-tle">Personajes</h3>
            <app-table *ngIf="esVisible" [characters]="charactersTable"></app-table>
         </div>
    </div>
</mat-card>