<mat-card (click)="emmitCharacter()" class="character-card">
    <mat-card-header>
        <div mat-card-avatar>
            <img :src="{{ character.image }}" alt="{{ character.name }}-photo">
        </div>
        <mat-card-title>{{ character.name | cutString}}</mat-card-title>
        <mat-card-subtitle><span>Species:</span> {{ character.species }}</mat-card-subtitle>
        <mat-card-subtitle><span>Gender:</span> {{ character.gender }}</mat-card-subtitle>
        <mat-card-subtitle><span>Status:</span> {{ character.status }}</mat-card-subtitle>
    </mat-card-header>       
</mat-card>