.character-card{
    margin-bottom: 45px;
    &:hover{
        background: #eeeeee;
        cursor: pointer;
    }
    span{
        color: black;
    }
}

.mat-card-avatar{
    height: 60px;
    width: 60px;        
    img{
        width: 100%;
    }
}