<div class="content">
    <div mat-dialog-content class="description">
        !Hola! mi nombre es {{data.name}}
    </div>
    <div mat-dialog-actions class="actions">
        <button mat-raised-button color="primary" (click)="close()">Adios</button>
    </div>
</div>