
.content{
    .description{
        font-size: 16px;
    }
    .actions{
        justify-content: center;
        button{
            color: white;
            line-height: 36px;
            padding: 0 16px;
            border-radius: 4px;
            border: 0px;            
            background-color: #3f51b5;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        }
    }
}