

<div class="row content-cards">
    <div class="col-12 description">
        Para poder cumplir con el requerimiento 10 de la prueba técnica: Consumir una apiRest gratuita. 
        Se decidio consumir el API pública de la serie Rick and Morty, la cual enseña la información 
        completa de los personajes.
    </div>
    <div class="col-12 col-sm-6" *ngFor="let character of characters | paginate: { itemsPerPage: 4, currentPage: actualPage }">
        <app-character (characterSended)="sayHello($event)" [character]="character"></app-character>
    </div>
    <div *ngIf="!esVisible" class="col-12 pagination">
        <pagination-controls 
            (pageChange)="actualPage= $event"
            previousLabel=""
            nextLabel=""></pagination-controls>
    </div>
    <div *ngIf="esVisible" class="empty">
        <h3>No hay personajes disponibles</h3>
        No se pueden cargar los personajes. Error en API
    </div>    
</div>