.content-cards{
    width: 768px;
    margin: 0 auto;
    padding: 5% 0;
    .description{
        text-align: center;
        font-size: 16px;
        margin-bottom: 35px;
    }
    .pagination{
        display: flex;
        justify-content: center;        
    }
    .empty{
        text-align: center;
        height: 50vh;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .content-cards{
        width: 100%;
        padding: 5%;
    }
}