<footer>
    <div class="row justify-content-center">
        <div class="col-12">
            Select topics and stay current with our latest insights.
        </div>           
    </div>    
</footer>